path: []
inputs:
  softwareResolver:
    - inputs:
        softwareGroup:
          extensionsCollection: []
          imageName: EOS-4.35.4M.swi
          streamingAgentName: ''
      tags:
        query: device:{{switches['CampusA-Leaf1C'].sn}}