path: []
inputs:
  campus:
    - inputs:
        campusPod:
          - inputs:
              accessPod:
                - inputs:
                    interfaces:
                      - inputs:
                          adapterDetails:
                            description: tmp
                            enabled: 'Yes'
                            mode: access
                            vlans:
                              vlans: '{{podInt}}'
                        tags:
                          query: interface:Ethernet11@{{switches['leaf1a']['serial']}}
                      - inputs:
                          adapterDetails:
                            description: tmp
                            enabled: 'Yes'
                            mode: access
                            vlans:
                              vlans: '{{podInt}}'
                        tags:
                          query: interface:Ethernet12@{{switches['leaf1a']['serial']}}
                  tags:
                    query: Access-Pod:IDF1
            tags:
              query: Campus-Pod:IT-Bldg
      tags:
        query: Campus:Workshop
  spineCampus: []
