path: []
inputs:
  advancedFabricSettings:
    inbandZtp:
      inbandZtpInterfaces:
        devices:
          - interfaces: Ethernet11-12
            tagQuery:
              tags:
                query: device:{{switches['leaf1a']['serial']}}
      interfaceZtpMethod: access
  campus:
    - inputs:
        campusDetails:
          campusPod:
            - inputs:
                campusPodFacts:
                  accessPodDefaults:
                    routerIdPool: 172.16.0.0/24
                    uplinkInterfaceDetails:
                      leafPortChannelUplinksEosCli: switchport trunk native vlan {{podInt+100}}
                      leafUplinksEosCli: null
                    uplinkIpv4Pool: 172.15.0.0/24
                    vtepLoopbackIPv4Pool: 172.16.1.0/24
                  accessPods:
                    - inputs:
                        accessPodFacts:
                          leafs:
                            - inputs:
                                leafsInfo:
                                  nodeId: 2
                              tags:
                                query: device:{{switches['leaf1a']['serial']}}
                          memberLeafMlagPairs: []
                          memberLeafs: []
                          nodeGroupAttributesList: []
                      tags:
                        query: Access-Pod:IDF1
                  advancedFabricSettings: {}
                  campusPodRoutingProtocols: {}
                  design:
                    campusType: L2
                    vxlanOverlay: false
                  egressConnectivity: {}
                  fabricConfigurations: 
                    inbandManagementDetails:
                      accessPods: []
                      inbandManagementGateway: 10.0.{{podInt+100}}.1
                      inbandManagementSubnet: 10.0.{{podInt+100}}.0/24
                      inbandManagementVlan: {{podInt+100}}
                  nodeTypeProperties: {}
                  spineDefaults: {}
                  spines: []
                  thirdPartyDevices:
                    - hostname: Velo
                      identifier: d4:e5:c9:06:2f:0b
                      nodeId: 1
                      role: spine
              tags:
                query: Campus-Pod:IT-Bldg
      tags:
        query: Campus:Workshop
  campusServices:
    - inputs:
        campusServicesGroup:
          campusPodsServices:
            - inputs:
                services:
                  campusType: L2
                  svis:
                    - addressLocking: {}
                      devices:
                        - enabled: null
                          ipVirtualRouterSubnet: null
                          tagQuery:
                            tags:
                              query: Access-Pod:IDF1
                      dhcpHelpers: []
                      enabled: null
                      eosCli: null
                      id: {{podInt+100}}
                      ipVirtualRouterSubnet: null
                      multicast: {}
                      name: test
                      nodes: []
                      ospf: {}
                      privateVlan: {}
                      routed: false
                      vrf: null
              tags:
                query: Campus-Pod:IT-Bldg
      tags:
        query: Campus:Workshop
