path: []
inputs:
  softwareResolver:
    - inputs:
        softwareGroup:
          extensionsCollection: []
          imageName: EOSarm-4.35.4M.swi
          streamingAgentName: null
      tags:
        query: device:{{switches['leaf1a']['serial']}}
  ztpSoftwareAssignment: []
  ztpSoftwareConfig: {}
